@font-face {
  font-family: "Semplicita";
  src: url("semplicita.bold.otf");
}
:root {
  --dark-text: #1e1e1e;
  --bg-color: #d39700;
  --bg-color-darker: #ac7b00;
  --light-text: white;
  --shadow: #493c2d;
  --highlight: #837b8c;
  --line-color-red: #702626;
  --line-color: white;
  --jobi-font: "Semplicita", "Neue Montreal", "Josefin Sans";
  --minor-font: "Josefin Sans";
  --major-font: "Montserrat";
  font-size: calc(30px + 1vw);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--minor-font), sans-serif;
  color: var(--light-text);
  /* font-size: 1rem; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr fit-content(45%);
}
div.hidden {
  display: none;
}
#content {
  grid-column: 3/4;
}
#about {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 2/3;
}
#projects {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 4/5;
}

.JOBI {
  display: flex;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 100vh;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

.bigLetter {
  display: flex;
  font-family: var(--jobi-font);
  font-size: 25vmin;
  font-weight: bold;
  color: var(--light-text);
  padding: 20px;
  align-content: center;
  justify-content: center;
  text-shadow: 10px 10px var(--shadow),
    -14px -4px var(--highlight);
  transform: rotate(-90deg);
}

.section {
  background-color: var(--bg-color-darker);
  display: flex;
  flex-direction: row;
  border-top: 5px solid var(--line-color);
  padding: calc(10px + 1vh);
  margin: 30px 0;
  text-shadow: 1px 0px var(--shadow),
    -1px -0px var(--highlight);
}

.section p {
  font-size: calc(0.8em + 1vmin);
  margin: 0;
  padding: inherit;

}

.section h2 {
  font-family: var(--major-font), sans-serif;
  font-size: calc(1.1em + 1vw);
  writing-mode: vertical-rl;
  text-align: right;
  transform-origin: 50% 50%;
  transform: rotate(-180deg);
  color: var(--dark-text);
  text-shadow: 4px 0px var(--highlight),
               -4px 0px var(--light-text);
}

.section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: inherit;
}
.section li {
  margin: 0.3em 0;
}

.section a {
  display: flex;
  color: var(--light-text);
  text-decoration: none;
  transition: all 0.4s;
  font-size: calc(0.8em + 2vmin)
}

a:hover {
  transform: rotate(0);
  font-weight: bold;
  text-shadow: 5px 5px var(--shadow),
    -5px -1px var(--highlight);
  color: var(--light-text);
}
